header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px 5px 5px 5px ;
}

.img{
    width: 50px;
}
.center{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 235px;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.headerright{ 
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-right: 12px;
    gap: 15px;
    font-size:14px ;
}
.but{
    background-color: black;
    color: white;
    padding: 5px 8px 5px 8px;
    border: 1px solid white;
}
.logotxt{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.head2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 50px 40px 200px;
}
.mnheading{
    font-size: 8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.mainpara{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 290px 30px 2px;
    margin-top: -75px;
}
.txt{
    padding: 0px 10px 40px 6px;
    margin-right: 100px;
    
}
.btns{
    display: flex;
    justify-content: center;
    margin-right: 310px;
}
.btn1{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    font-size: 1rem;
    margin-left: 6px;
    word-spacing: 0.001px;
}
.btn2{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 5px 10px 5px 10px ;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    word-spacing: 0.011px;
}
.btns{
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.head3{
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}
.img1{
    width: 242px;
    margin-right: 10px;
}
.img2{
    width: 242px;
    margin-right: 5px;
}
.img3{
    width:242px;
    padding-right: 10px;
    margin-right:10px ;
}
.img4{
    width: 242px;}
.images{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 8px;
    gap: 5px;
}
.h1{
    color: white;
    font-size: 36px;
    font-family: "signifier";
    padding: 0 0 10px 0;
    white-space: nowrap;
    margin-top: -100px;
    margin-left: 4px;
    font-weight: lighter;
}
.para{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 233px;
    padding: 0px 0 30px 10px;
    font-size: 25px;
    margin-top: -10px;
    margin-right: 13px;
}


.head4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    border-top: 1px solid white;
}
.head5{
    background-color: black;
    color: white;
    border-top: 1px solid white;
    font-size: 35px;
    display: flex;
    justify-content: center
}
.para2{
    font-size: 43px;
    padding: 2px 8px 2px 6px;
    font-weight: lighter;
    margin: -15px 1px 75px 5px;
}
.imgb{
    width: 1030px;
    padding-right: 16pxpx ;
    margin-right: 14PX;
    padding-left: 10px;
    padding-bottom: 80px;
    border-bottom: 1px solid white;
}

.pic1{
    width: 504px;
}
.pic2{
    width: 504px;
}
.para3{
    color: white;
    font-family: "signifier";
    font-weight: lighter;
    display: flex;
    align-content: center;
    padding: 0 6px 20px 4px;
    margin-top: -15px;
    font-size: 40px;
}
.imges{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-left: 13px;
    margin-top: 20px;
}
.head6{
    display: flex;
    flex-wrap: wrap;
}
.text2{
    color: white;
    padding-top: 15px;
    margin-bottom: 75px;
    font-size: 14px;
}
.head7{
    background-color: #0000FF;
    color: white;
    padding-bottom: 34px;
}
.para4{
    padding: 10px 30px 0px 12px;
    border-top: 1px solid white;
    margin-top: 70px;
    font-family: "signifier";
    font-size: 45px;
    font-weight: lighter;
}
.head8{
    background-color: #0000FF;
    color: white;
    border-top: 1px solid white;
    display: flex;
    padding-bottom: 31px;
}
.bodleft{
    display: flex;
    white-space: nowrap;
    font-size: 38px;
    font-family: "signifier";
    font-weight: 50px;
    padding-left: 12px;
    font-weight: lighter;
    margin-top: -5px;
}
.bodryt{
    font-family: "signifier";
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -35px;
}
.para5{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5px 0 138px;
    font-size: 24px;
}
.para6{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5px 30px 138px;
    font-size:24px;
}
.head9{
    background-color: #0000FF;
}
.image{
    width: 1020px;
    display: flex;
    margin-left: 15px;
    padding-bottom: 75px;
}
.hamas{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    border-top:1px solid white ;
    padding: 0 10px 0 10px;
    border-bottom: 0.00001px solid gray;
}
.headi{
    font-family: "signifier";
    font-size: 40px;
    white-space: nowrap;
    padding-top: 5px;
}
.paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0 20px 50px 248px;
    margin-top: -5;
}
.part1{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.Paragraph{
    padding: 0 10px 50px 228px;
    margin-top: -5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.txt2{
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    font-size: 20px;
}
.part3{
    background-color: black;
    color: white;
    border-top: 1px solid gray;
    display: flex;
    padding: 10px 10px 30px 10px;
}
.H1{
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.PARA{
    padding:0 10px 30px 385px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.PART3{
    display: flex;
    justify-content: space-between;
    margin-top: -12px;
}
.part4{
    background-color: black;
    color: white;
    display: flex;
    border-top: 1px solid white;
    padding: 0 10px 30px 10px;
}
.MAINPARA{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding-left: 303px;
}
.HEADING{
    white-space: nowrap;
    font-size: 35px;
    font-family: "signifier";
    font-weight: lighter;
}
.PART4{
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
}






